@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 60px calc(100vh - 60px);
    grid-template-columns: 1fr;
    margin: 0 auto;
    background: #FFFFFF 0 0 no-repeat padding-box;
    max-width: 1440px;
}

a {
    text-decoration: none;
    outline: none;
}

header {
    box-shadow: 0 1px 0 #0000001A;
}

.header_logo {
    height: 60px;
    width: 60px;
    margin: 0 0 0 100px;
    background-color: #1082D2;
}

.header_logo a {
    text-align: center;
    display: block;
    font-family: 'Poppins', sans-serif;
    line-height: 60px;
    font-size: 38px;
    font-weight: 700;
    color: #FFFFFF;
}

.main {
    display: grid;
    grid-template-columns: minmax(150px, 350px);
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
}

.main_request {
    align-self: end;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
    grid-template-columns: 1fr;
}

input,
input:active,
input:focus {
    outline: 0 !important;
    margin: 10px 0;
}

.request_caption {
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
    font-size: 30px;
    font-weight: 900;
}

label {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

input[type=text] {
    padding: 0 0 0 10px;
    border: 1px solid #ECECEC;
    font-family: 'Poppins', sans-serif;
    height: 38px;
    font-size: 14px;
    font-weight: 400;
}

input::placeholder {
    opacity: 0.5;
    text-transform: lowercase;
}

input[type=button] {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    border: 0 solid transparent;
    background-color: #1082D2;
    cursor: pointer;
}

.main_answer {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    align-self: start;
}

.answer_caption {
    box-shadow: 0 1px 0 #0000001A;
    padding: 10px 0;
    margin: 0 0 30px 0;

}

.answer_list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    align-items: center;
}

.answer_list > li {
    align-items: center;
    margin: 0 0 0 15px;
}

@media all and (max-width: 400px) {
    body {
        grid-template-rows: 45px calc(100vh - 45px);
    }

    .header_logo {
        height: 45px;
        width: 45px;
        margin: 0 0 0 15px;
    }

    .header_logo a {
        line-height: 45px;
        font-size: 30px;
    }
}
